[MAIN]
# Python minimal version
py-version=3.11
# CPU Cores
jobs=0
# Load plugin pydantic
# load-plugins=

[FORMAT]
# Menaikkan batas karakter
max-line-length=200
# Karakter indentasi standar (4 spasi)
indent-string='    '

[MESSAGES CONTROL]
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-implicit-booleaness-not-comparison-to-string,
        use-implicit-booleaness-not-comparison-to-zero,
        use-symbolic-message-instead,
        duplicate-code,
        missing-docstring

[BASIC]
# Standar penamaan variabel
good-names=i,j,k,ex,Run,_,id,db,e
argument-naming-style=snake_case
attr-naming-style=snake_case
function-naming-style=snake_case
variable-naming-style=snake_case
class-naming-style=PascalCase

[REPORTS]
# Menampilkan visualisasi skor akhir (X/10) di log Action
score=yes
reports=no
